{% extends 'base.html' %}

{% block head_title %}MAGC Interactive Map{% endblock %}
{% block head %}
{% load static %}
<style type="text/css">
 body {
    font-family: 'Chivo';
    background-color: #afafaf;
}
.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 40%;
  background: url("{% static "cover.jpg"%}") center center no-repeat;
  background-size: cover;
}
html, body {
  width: 100%;
  height: 100%;
  color: #4B577D;
}

i {
    margin-right: 10px;
}

</style>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js"></script>
{% endblock %}

{% block content %}
    <div class="bg-img"></div>
    
    <div class="jumbotron-fluid" style="position: absolute; top: 10%; width: 100vw;" >
        <div class="container" style="padding: 25px; min-width: 85%;">
        <div class="logo-title" style="max-width:150px;">
            <h1 style="font-family: 'Berthold Akzidenz Grotesk Extended'; color: white;" >marin art & garden center</h1>
        </div>
        <h1 style="margin-bottom: 40px; color:#4B577D;">interactive map</h1>
        <h5 style="margin-bottom: 40px; max-width: 350px; color: #4B577D; display: block">Learn about the history and unique features of the Marin Art & Garden Center </h5>
      <!--  <a href="#using-the-map"> -->

            <button 
                class="btn shadow" 
                style="background-color:#4B577D; color: white;padding: 15px;" 
                onclick="window.location.href='/map?demo=True&question-guide=True'">Take a tour &rarr;</button>

                <button 
                class="btn shadow" 
                style="background-color:#d5d7df; color: black;padding: 15px;" 
                onclick="window.location.href='/map?demo=True'">Explore the map </button>
     <!--   </a> -->
        </div>

    </div>

{% endblock %}

{% block scripts%}
<script type="text/javascript">
var scroll = new SmoothScroll('a[href*="#"]', {speed: 1000});
</script>

{% endblock %}
