{% extends 'base.html' %} 
{% block head_title %}{{ point.short_name }}{% endblock %}
{% block head %}
<meta name="viewport" content="initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


<style type="text/css">
    h1 {
        max-width: 550px;
        margin: auto !important;
    }
    html, body {
        background-color: #e8ebef;
    }
</style>


{% load static %}
<script type="text/javascript" src="{% static "pace.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "pace.css" %}">

{% endblock %}

{% block content %}

<div class="container-fluid hidden" style="background-color:#e8ebef;">
    <div class="container native" style="">
        <img src="{{ point.main_image.url }}" class="img-fluid center-block main-image rounded" style="width:100%;position:sticky; top:0px; z-index:-1000;">
    </div>
    <div class="container rounded shrink shadow" style="margin-bottom: 20px;">
    
        <div class="content-cover rounded">
            <div class="faded-background center-block" style="width:{{ point.main_image.width }}px;"></div>
            <div class="back-fill" style="background-color: #f7f7f7; margin: 0; position: relative;">
            {% if point.long_name %}
                <h1 class="text-center" style="padding: 8px; margin-bottom:10px;">{{ point.long_name }}</h1>
            {% else %}
                <h1 class="text-center" style="padding: 8px; margin-bottom:10px;">{{ point.short_name }}</h1>
            {% endif %}
        </div>
        <div class="white" style="margin-top: -1px;">
            
            <p class="center-block paragraph white">{{ point.short_description}}</p>

            {% if imgNum > 0 %}

                <!-- Image carousel -->

                <div class="slider">
                    {% for image, caption in iterator %}
                        <div>
                            <img class="rounded" src="{{ image.url }}" style="width: 100%;">
                            <p>{{ caption }}</p>
                        </div>
                    {% endfor %}

                    
                </div>

                {% if imgNum > 1 %}

                    <!-- Image carousel controls -->
                    <div class="tags center-block" id="controls">
                        <button class="left-btn btn"><i class="fas fa-caret-left fa-3x"></i></button>
                        <button class="right-btn btn"><i class="fas fa-caret-right fa-3x"></i></button>
                    </div>

                {% endif %}

                

            {% endif %}

            {% if point.long_description %}
                <p class="center-block paragraph white">{{ point.long_description}}</p>
            {% endif %}

            <!-- Tags -->

            <div class="tags center-block white" style="padding-top:5px;">
                Tagged under 
                {% for tag in point.tags.all %}
                    <span style="color:{{ tag.color }}">{{ tag.name }}</span>
                    {% if forloop.last %}
                    .
                    {% else %}
                    ,
                    {% endif %}
                {% endfor %}
            </div>


            {% if back %}

                <!-- Back button on mobile detail page only  -->

                <button type="button" class="btn shadow" 
                    data-toggle="button" 
                    aria-pressed="false"
                    {% if redirected %}
                        onclick="window.location.href = '../';" 
                    {% else %}
                        onclick="window.history.back();" 
                    {% endif %}
                    style="background-color:#4B577D; color: white; width: 200px; display: block; margin: 20px auto;"
                    > Back to map 
                </button>

            {% elif guide %}


              <button type="button" class="btn shadow" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="parent.closeDetails();" 
                    style="background-color:#4B577D; color: white; width: 200px; display: block; margin: 20px auto;"
                    > Continue Tour &rarr;
                </button>


            {% endif %}

                <!-- Share button -->

                <button type="button" class="btn " id="share" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="displayShare()" 
                    style="background-color:#4B577D33; width: 200px; display: block; margin: 20px auto;"
                    > Share this page 
                </button>
            <br>

            <!-- Hidden share button info -->

            <div class="container text-center" id="share-details" style="visibility: hidden; background-color:#4B577D33;">
                <div style="padding: 10px;">
                <p>Short Link <em>(click to copy)</em> <br> <span id="loc" class="copyable"><b>{{ request.get_host }}/map/?{{ point.slug }}=open</b></span></p>
                <p>QR Code <em>(click to copy)</em></p>
                <div id="qrcode" class="copyable" style="margin: 0 auto;"></div>
                </div>
            </div>

            <br>


</div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts%}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{% static "qrcode.min.js" %}"></script>
<script type="text/javascript" src="{% static "detail.js" %}"></script>
{% endblock %}
