<!DOCTYPE html>
<html>
<head>

    <title>Map Base</title>

    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Sitewide CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">

</head>
<body>


    <div class="parent" style="height: 100vh;">
    <div class='panzoom' >
        <div class="rotated" style="transform: rotate(-61deg);">
            <!-- Map -->
            <img src="{% static "map.png"%}" height="{{ map.image.height }}px" width=" {{ map.image.width }}px" >
    
            <!-- Clickable buttons drawn over map-->
            <div id="clickElements" >
                {% for point in points %}
                    <button type="button" class="btn click pulse" data-toggle="modal" 
                            data-target=".popup-{{ point.id }}"
                            style="bottom:{{ point.y|add:"-25" }}px; left:{{ point.x|add:"-25" }}px;"
                            >
                            <div class="click-center"
                                 style="bottom:12.5px; left:12.5px;"
                                 id="{{ point.id }}"
                                 data-toggle="tooltip" data-placement="bottom" title="{{ point.short_name }}">
                            </div>
                    </button>

                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <!-- Popup windows for each point on the map-->
    {% for point in points %}
        <div class="modal fade popup-{{ point.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <iframe src="../details/{{ point.id }}" class="rounded details-frame"></iframe>
                </div>
            </div>
        </div>
    {% endfor %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static "jquery.panzoom.min.js" %}"></script>
<script type="text/javascript">
/*let area = document.querySelector('.zoomable')
panzoom(area);*/
{% load helpers%}

  let $panzoom = $('.panzoom').panzoom();
  $("img").height($("img").height() / 5);
  $("img").width($("img").width() / 5);

  $('.pulse').each(function( index, element  ) {
            $(element).css("bottom" , $(element).css("bottom") / 5);
            $(element).css("left" , $(element).css("left") / 5);
    });
          

        /*panzoom(area).zoomAbs(
                                -1100, // initial x position
                                -1500, // initial y position
                                0.5  // initial zoom 
                                );*/

 let points = {{ points | js}};
 let colors = {{ pointColors | js }}
</script>
<script type="text/javascript" src="{% static "map.js" %}"></script>

</body>
</html>