{% extends 'base.html' %} 
{% block head_title %}Interactive Map{% endblock %}
{% block head %}


<style type="text/css" media="screen">
body, html {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #dde5d3;
}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% load static %}
<script type="text/javascript" src="{% static "pace.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "pace.css" %}">
<script type="text/javascript" src="{% static "inobounce.min.js" %}"></script>

<script type="text/javascript">
function closeDetails() {
    $('.popup').modal('hide')
}

</script>
{% endblock %}

{% block content %}

    {% load helpers %}

    <!-- demo modal -->
    <div class="modal fade" id="demo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <div class="demo-container">
                        <span class="demo-content" id="demo-1">
                            <div class="outline-desc rounded">
                                <h4 ><i class="fas fa-map"></i>  Navigate the Map</h4>
                                <h6><b>On Mobile:</b><br>Pinch to zoom and drag to pan around the map. <br> <br> 
                                    <b>On Desktop:</b><br> Use mousewheel or two-finger drag to zoom, and hold and drag to pan around the map.</h6>
                            </div>
                            <button class="btn shadow demo-button" style="background-color:#4B577D; color: white;padding: 15px;" onclick="nextDemo(this)">Continue &rarr;</button>
                        </span>

                        <span class="demo-content" id="demo-2">
                            <div class="outline-desc rounded">
                                <h4 ><i class="fas fa-hand-pointer"></i>  Select Points</h4>
                                <h6>Points of interest are denoted with colored circles. Tap or click on them to reveal their description, history, and photos.</h6>
                            </div>
                            <button class="btn shadow demo-button" style="background-color:#4B577D; color: white;padding: 15px;" id="before-filter" onclick="nextDemo(this)">Continue &rarr;</button>
                        </span>

                        <span class="demo-content" id="demo-3">
                            <div class="outline-desc rounded">
                                <h4><i class="fas fa-tags"></i>  Customize Your Experience</h4>
                                <h6>Toggle topics of interest to filter which points you see. These can be changed later in the menu.</h6>

                                <div class="container rounded tags-container" style="margin: 0 auto;">
        {% for tag in tags %}
            {% if tag.name in selections %}
            <div class="button-group">
            <button type="button" class="btn active btn-{{ tag.slug }} smaller" 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="activateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80;opacity: 0.4;" 
                    ><i class="fas fa-plus"></i>
                </button>
                    <button type="button" class="btn active btn-{{ tag.slug }} " 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="activateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80;  opacity: 0.4; width: 180px;" 
                    >
                    {{tag.name}}
                </button>
            </div>
            {% else %}
             <button type="button" class="btn btn-{{ tag.slug }} smaller" 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="deactivateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80; width: 40px; " 
                    ><i class="fas fa-times"></i>
                </button>
                <button type="button" class="btn btn-{{ tag.slug }}" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="deactivateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80; width: 180px;" 
                    >
                    {{tag.name}}
                </button>
            {% endif %}
        {% endfor %}
        </div>
                            </div>
                            <button class="btn shadow demo-button" style="background-color:#4B577D; color: white;padding: 15px;" onclick="goToRevisedPage()">Get Started! &rarr;</button>
                        </span>
                        
                    </div>
                    
                </div>
            </div>
        </div>

    <!-- Sidebar  -->
    <nav id="sidebar">
        <!-- <div class="sidebar-header">
            <div class="logo-title">
                <h3>marin art & garden center</h3>
            </div>
            <h3 style="color:#4B577D;">interactive map</h3>
        </div> -->
        <div class="sidebar-content">   

        <div class="container rounded tags-container">
            <h5>Filters</h5>
            <hr>
        {% for tag in tags %}
            {% if tag.name in selections %}
            <div class="button-group">
            <button type="button" class="btn active btn-{{ tag.slug }} smaller" 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="activateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80;opacity: 0.4;" 
                    ><i class="fas fa-plus"></i>
                </button>
                    <button type="button" class="btn active btn-{{ tag.slug }} " 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="activateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80;  opacity: 0.4; width: 180px;" 
                    >
                    {{tag.name}}
                </button>
            </div>
            {% else %}
             <button type="button" class="btn btn-{{ tag.slug }} smaller" 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="deactivateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80; width: 40px; " 
                    ><i class="fas fa-times"></i>
                </button>
                <button type="button" class="btn btn-{{ tag.slug }}" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="deactivateButton('{{ tag.slug }}')"
                    style="background-color:{{ tag.color }}80; width: 180px;" 
                    >
                    {{tag.name}}
                </button>
            {% endif %}

        {% endfor %}
        <button class="btn shadow demo-button" style="background-color:#4B577D; color: white;padding: 15px;" onclick="goToRevisedPage()">Apply &rarr;</button>
        </div>

      <!--   <div class="container rounded tags-container">
            <h5>Help</h5>
            <hr>    
            <button type="button" class="btn btn-block" 
                    id="using-the-map"
                    data-toggle="button" 
                    aria-pressed="false"
                    style="background-color:#4B577D33;"
                    > Using the Map →
                </button>
                <button type="button" class="btn btn-block" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="window.location.href='https://magc.org/'" 
                    style="background-color:#4B577D33;"
                    > MAGC Home →
                </button>
        </div> -->

        <div class="container rounded tags-container">
            <!-- <h5>More</h5>
            <hr>  -->   
            <button type="button" class="btn btn-block" 
                    data-toggle="modal" 
                    {% if frames %}
                        data-target=".popup-about"
                    {% else %}
                        onclick="location.href='about-credits?sender=map';"
                    {% endif %}

                    style="background-color:#4B577D33;"
                    > About & Credits
                </button>
        </div>
        <br>
        </div>
    </nav>
    <button type="button" id="openTags" class="btn btn-info menu-button hidden">
        <i class="fas fa-tags"></i>
    </button>

    <a class="btn btn-info menu-button hidden" id="home" href="../" role="button">
        <i class="fas fa-home"></i>
    </a>

    <button type="button" id="help" class="btn btn-info menu-button hidden">
        <i class="fas fa-question"></i>
    </button>

    <button type="button" id="finishTour" class="btn btn-info btn-tour hidden">
        Finish Tour
    </button>

    <button type="button" id="continueTour" class="btn btn-info btn-tour hidden">
        Continue Tour
    </button>

    <!-- Map Content -->

    <div class="parent" style="overflow: hidden; position: relative;">
    <!-- <div class='zoomable' > -->
     
            <!-- Map -->
            <div class="zoomable" style='height: {{ map.image.height }}px; width: {{ map.image.width }}px;'>
                <div class="rotated">
                   <!--  <img src="{{ map.image.url }}" id="map" class="hidden" height="{{ map.image.height }}px" width=" {{ map.image.width }}px" > -->

                    <!-- Real buttons drawn below the map,  -->
            <div id="clickElements" class="hidden"  style='height: {{ map.image.height }}px; width: {{ map.image.width }}px;'>
                <div class="rotated">
                {% for point in points %}
                    <button type="button" class="btn click pulse" data-toggle="modal" 
                            data-target=".popup-{{ point.slug }}"
                            style="bottom:{{ point.y|add:"-50" }}px; left:{{ point.x|add:"-50" }}px;"
                            >
                            <div class="click-center {{ point.slug }}"
                                 style="bottom:25px; left:25px;"
                                 id="{{ point.slug }}"
                                    data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{ point.short_name }}">
                            </div>
                    </button>

                {% endfor %}
                </div>
            </div>


                </div>
            </div>


            <!-- Fake buttons drawn over map, to denote the locations -->
   <!--          <div id="pointElements" class="hidden"  style='height: {{ map.image.height }}px; width: {{ map.image.width }}px;'>
                <div class="rotated">
                {% for point in points %}
                    <button type="button" class="btn click pulse"
                            style="bottom:{{ point.y|add:"-50" }}px; left:{{ point.x|add:"-50" }}px;"
                            >
                            <div class="click-center {{ point.slug }}"
                                 style="bottom:25px; left:25px;"
                                 
                            </div>
                    </button>

                {% endfor %}
                </div>
            </div> -->

            

        </div>
   <!--  </div> -->
    </div>
    <!-- Popup windows for each point on the map -->
    {% for point in points %}
        <div class="modal fade popup-{{ point.slug }} popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg preloaded-modal rounded" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if guide %}
    <!-- Popup window for the guide  -->
    <div class="modal fade popup" tabindex="-1" role="dialog" aria-hidden="true" id="guide">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>

                    <div class="guide-container">

                    <h6 id="guide-title">Next Point:</h6>
                    <div id="guide-content">
                        
                    </div>

                    <div id="guide-buttons">
                        <button class="btn shadow" style="background-color:#4B577D; color: white;padding: 15px;" onclick="incrementStep()">Reveal Point &rarr;</button>

                        <button class="btn shadow" id="skip" style="background-color:#4B577D33;; color: black; padding: 15px;" onclick="skipNextStep()">Skip</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>


    {% endif %}
    

    <!-- Popup window for credits and about -->
    <div class="modal fade popup-about" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <iframe src="about-credits" class="rounded details-frame"></iframe>
                </div>
            </div>
        </div>

    
{% endblock %}

{% block scripts%}
<script src="https://unpkg.com/panzoom@7.0.2/dist/panzoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script type="text/javascript">
    // variables passed from view encoded for javascript
    let height = {{ map.image.height | js}};
    let width = {{ map.image.width | js}};
    let points = {{ points | js}};
    let colors = {{ pointColors | js }};
    let open = {{ open | js }};
    let frames = {{ frames | js }};
    let demo = {{ demo | js }};
    let guide = {{ guide| js }};
    var locations = {{ locations | js }};
    var locationsText = {{ locationsText | js }}
 
</script>
<script type="text/javascript" src="{% static "map.js" %}"></script>
{% endblock %}
