{% extends 'base.html' %} 
{% block head_title %}Interactive Map{% endblock %}
{% block head %}


<style type="text/css" media="screen">
body, html {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #dde5d3;
}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% load static %}
<script type="text/javascript" src="{% static "pace.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "pace.css" %}">
<script type="text/javascript" src="{% static "inobounce.min.js" %}"></script>
{% endblock %}

{% block content %}

    {% load helpers %}

    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="logo-title">
                <h3>marin art & garden center</h3>
            </div>
            <h3 style="color:#4B577D;">interactive map</h3>
        </div>
        <div class="sidebar-content">   

        <div class="container rounded tags-container">
            <h5>Filters</h5>
            <hr>
        {% for tag in tags %}
            {% if tag.name in selections %}
            <div class="button-group">
            <button type="button" class="btn active" 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="window.location.href='{% value_in_url tag.id request.GET.urlencode %}'"
                    style="background-color:{{ tag.color }}33;opacity: 0.4;" 
                    ><i class="fas fa-plus"></i>
                </button>
                    <button type="button" class="btn active  " 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="window.location.href='{% value_in_url tag.id request.GET.urlencode %}'"
                    style="background-color:{{ tag.color }}33;  opacity: 0.4; width: 180px;" 
                    >
                    {{tag.name}}
                </button>
            </div>
            {% else %}
             <button type="button" class="btn" 
                    data-toggle="button" 
                    aria-pressed="true"
                    onclick="window.location.href='{% value_in_url tag.id request.GET.urlencode %}'"
                    style="background-color:{{ tag.color }}33; width: 40px; " 
                    ><i class="fas fa-times"></i>
                </button>
                <button type="button" class="btn" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="window.location.href='{% value_in_url tag.id request.GET.urlencode %}'"
                    style="background-color:{{ tag.color }}33; width: 180px;" 
                    >
                    {{tag.name}}
                </button>
            {% endif %}
        {% endfor %}
        </div>
        <div class="container rounded tags-container">
            <h5>Help</h5>
            <hr>    
            <button type="button" class="btn btn-block" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="window.location.href='/#using-the-map'" 
                    style="background-color:#4B577D33;"
                    > Using the Map →
                </button>
                <button type="button" class="btn btn-block" 
                    data-toggle="button" 
                    aria-pressed="false"
                    onclick="window.location.href='https://magc.org/'" 
                    style="background-color:#4B577D33;"
                    > MAGC Home →
                </button>
        </div>

        <div class="container rounded tags-container">
            <h5>More</h5>
            <hr>    
            <button type="button" class="btn btn-block" 
                    data-toggle="modal" 
                    {% if frames %}
                        data-target=".popup-about"
                    {% else %}
                        onclick="location.href='about-credits?sender=map';"
                    {% endif %}

                    style="background-color:#4B577D33;"
                    > About & Credits
                </button>
        </div>
        <br>
        </div>
    </nav>
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Map Content -->

    <div class="parent" style="overflow: hidden; position: relative;">
    <div class='zoomable' >
        <div class="rotated" style="transform: rotate(-61deg);">
            <!-- Map -->
            <img src="{% static "map.png"%}" id="map" class="hidden" height="{{ map.image.height }}px" width=" {{ map.image.width }}px" >
    
            <!-- Clickable buttons drawn over map-->
            <div id="clickElements" class="hidden">
                {% for point in points %}
                    <button type="button" class="btn click pulse" data-toggle="modal" 
                            {% if frames %}
                                data-target=".popup-{{ point.id }}"
                            {% else %}
                                onclick="location.href='details/{{ point.id }}?sender=map';"
                            {% endif %}
                            style="bottom:{{ point.y|add:"-25" }}px; left:{{ point.x|add:"-25" }}px;"
                            >
                            <div class="click-center"
                                 style="bottom:12.5px; left:12.5px;"
                                 id="{{ point.id }}"
                                 {% if frames %}
                                    data-toggle="tooltip" data-placement="bottom" title="{{ point.short_name }}">
                                 {% endif %}
                            </div>
                    </button>

                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <!-- Popup windows for each point on the map (only if not mobile/tablet to speed up page) -->
    {% if frames %}
    {% for point in points %}
        <div class="modal fade popup-{{ point.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <iframe src="details/{{ point.id }}" class="rounded details-frame"></iframe>
                </div>
            </div>
        </div>
    {% endfor %}
    

    <!-- Popup window for credits and about -->
    <div class="modal fade popup-about" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <iframe src="about-credits" class="rounded details-frame"></iframe>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block scripts%}
<script type="text/javascript" src="{% static "jquery.panzoom.min.js" %}"></script>
<script src="https://cdn.rawgit.com/anvaka/panzoom/v4.4.0/dist/panzoom.min.js"></script>
<script type="text/javascript">
    // variables passed from view encoded for javascript
    let height = {{ map.image.height | js}};
    let width = {{ map.image.width | js}};
    let points = {{ points | js}};
    let colors = {{ pointColors | js }};
    let open = {{ open | js }};
    let frames = {{ frames | js }};
 
</script>
<script type="text/javascript" src="{% static "map.js" %}"></script>
{% endblock %}
