@font-face {
    font-family: "Klinic Slab Book";
    src: url("fonts/KlinicSlabBook.otf") format("opentype");
}

@font-face {
    font-family: "Berthold Akzidenz Grotesk Extended";
    src: url("fonts/Berthold-Akzidenz-Grotesk-Extended.otf") format("opentype");
}

body {
    font-family: "Chivo";
    background-color: #f7f7f7;
}

.modal-dialog {
   /* width: 200px;*/
}

h1 {
    font-family: "Chivo";
    font-weight: 700;
   /* font-style: italic;*/
}

h5 {
    font-family: "Chivo";
    font-weight: 700;
/*    font-style: italic;*/
    display: inline-block;
    margin-bottom: none;
    color:#4B577D;
}

h6 {
    margin: 20px 0;
}

i .colored {
    color: #4B577D;
}

.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top right, #8AAAD9, #F79548);
  opacity: .8;
}

.outline-desc {
    padding: 20px;
    /*border: 1px solid black;*/
    text-align: center;
    /*background-color: #4B577D;
    color: white;*/
}

.logo-title {
    font-family: "Berthold Akzidenz Grotesk Extended" !important;
    max-width: 95px;
    display: inline-block;
    position: inherit;
    z-index: 100;
}

.logo-subtitle {
    font-family: "Berthold Akzidenz Grotesk Extended";
    /*font-family: "Raleway";
    font-weight: 700;
    font-style: italic;*/
    display: inline-block;
    position: absolute;
    top: 120px;
    right: 20px;
    color: #f79548;
    opacity: 1;
}

p {
    font-family: "Klinic Slab Book";
}

.btn {
    background-color: inherit;
    /*font-weight: 700;*/
    /*font-style: italic;*/
    margin-bottom: 10px;

}

.copyable {
  cursor: pointer;
}

.hidden {
    opacity: 0;
}

.container-fluid{
  -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#map {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#clickElements {
     -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.center-block{
    display: block;
    margin: 0 auto;
}

.text-center {
    position: relative;
    margin: 0;
    background-color: inherit;
}

.paragraph {
    max-width: 425px;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
    padding: 15px;
}

.faded-background {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247,247,247,1)), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(bottom, rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(bottom, rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%);
    height: 80px;
    margin-top: -80px;
    position: relative;
    margin-bottom: -2px;
}

.shrink {
   /* background-color: #f7f7f7;*/
}

.native {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.main-image{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.content-cover {
    position: relative;
    /**/
    margin-top: -1px;
}

.white {
    background-color: #f7f7f7;
    padding-bottom: 15px;
  
}

.shadow {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.tags {
    
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

iframe{
    /*overflow:hidden;*/
    border: none;
}

.zoomable {
    cursor: move; 
}


.zoomable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.click {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1000;
}

.click-center {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 99;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
           box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.close {
    position: fixed; 
    right: 15px;
    top: 15px; 
    z-index: 100;
}

.text-center {
    margin-top: -1px;
}

.slick-center .slide-h3{
    color: #FFF;
  }
  .slider {
    height: auto;
 
    text-align: center;
  }

  .slick-slide{
    opacity: .4;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  .slick-center {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.slick-slide {
    max-width: 520px;
    margin: 0 10px;
}

.close {
    text-shadow: none;
    opacity: 1;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.navbar-btn {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none !important;
    border: none;
    
}

#sidebarCollapse {
    position: fixed;
    z-index: 101;
    top: 15px;
    left: 310px;
    background-color: #4B577D;
    border: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

 .side {
    left: 15px !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#sidebar {
    min-width: 290px;
    max-width: 290px;
    background: #e8ebef;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: fixed;
    min-height: 100vh;
    height: auto;
    z-index: 2000;
}

.sidebar-content {
    overflow-y: scroll;
    height: calc(100vh - 220px);
}
.tags-container {
    width: 260px;
    margin: 15px;
    padding: 15px;
    background-color: #f7faff;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

hr {
    /*border-color: #f79548;*/
    margin-top: none;
}

/*#sidebar.closed {
    margin-left: -290px;
}
*/
.sidebar-header {
    height: 220px;
    padding: 20px;
    background: #e8ebef;
    position: relative;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

#guide-buttons {
  margin: 30px auto;
  display: block;
  width: 220px;
}

#guide-title {
  text-align: center;
}

#guide-content {
  text-align: center;
  font-family: "Chivo";
  font-weight: 700;
  color:#4B577D;
  font-size: 1.25rem;
  max-width: 480px;
  margin: 0 auto;
}

.demo-content {
  display: block;
  display: none;
  margin-top: auto;
  margin-bottom: 60px;
}

.demo-container {
  height: 670px;
  padding: 20px;
  background-color: #e8ebef;
  border-radius: 5px;
}

.guide-container {
  height: 330px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  background-color: #e8ebef;
  border-radius: 5px;
}

.demo-button {
  display: block;
  margin: 20px auto;
}

#demo-1 {
  display: block;
}

.preloaded-modal {
  height: 90vh;
  background-color: #e8ebef;
}

iframe {
  height: 90vh;
}

h4 {
  margin: 30px auto;
}

h6 {
  max-width: 350px;
  margin: 30px auto;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


    #sidebar {
        margin-left: -290px;
    }
    #sidebar.closed {
        margin-left: 0;
    }

     #sidebarCollapse {
        left: 15px;
     }

    #sidebarCollapse.side {
        left: 310px !important;
    }/*
    #sidebarCollapse span {
        display: none;
    }*/


    .tooltip-inner {
    color: black;
    background-color: white;
  }

  .arrow {
    color: #565656;
    /*background-color: #565656;*/
  }


.pulse {
  background: rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 0 rgba(255,255,255,1);
          box-shadow: 0 0 0 rgba(255,255,255,1);
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,1);
            box-shadow: 0 0 0 0 rgba(255,255,255,1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0);
              box-shadow: 0 0 0 10px rgba(255,255,255,0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0);
              box-shadow: 0 0 0 0 rgba(255,255,255,0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,1);
            box-shadow: 0 0 0 0 rgba(255,255,255,1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0);
              box-shadow: 0 0 0 10px rgba(255,255,255,0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0);
              box-shadow: 0 0 0 0 rgba(255,255,255,0);
  }
}
