@font-face {
    font-family: "Klinic Slab Book";
    src: url("fonts/KlinicSlabBook.otf") format("opentype");
}

@font-face {
    font-family: "Berthold Akzidenz Grotesk Extended";
    src: url("fonts/Berthold-Akzidenz-Grotesk-Extended.otf") format("opentype");
}

h1 {
    font-family: "Raleway";
    font-weight: 700;
   /* font-style: italic;*/
}

h5 {
    font-family: "Raleway";
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    cursor: help;
    margin-bottom: none;
}

.logo-title {
    font-family: "Berthold Akzidenz Grotesk Extended";
    max-width: 95px;
    display: inline-block;
    position: inherit;
    z-index: 100;
}

.logo-subtitle {
    font-family: "Raleway";
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 65px;
    color: #f79548;
    opacity: 0.15;
}

p {
    font-family: "Klinic Slab Book";
}

.btn {
    background-color: inherit;
    font-weight: 400;
}

.center-block{
    display: block;
    margin: 0 auto;
}

.text-center {
    position: relative;
    margin: 0;
    background-color: inherit;
}

body {
    background-color: #f7f7f7;
    font-family: "Raleway";
    font-weight: 400;
}

.paragraph {
    max-width: 425px;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
    padding: 15px;
}

.faded-background {
    background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%);
    height: 80px;
    margin-top: -80px;
    position: relative;
}

.shrink {
    background-color: #f7f7f7;
}

.native {
    position: sticky;
    top: 0px;
}

.main-image{
    position: sticky;
    top: 0px;
}

.content-cover {
    position: relative;
    background-color: #f7f7f7;
    margin-top: -1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.native {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.tags {
    
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

iframe{
    overflow:hidden;
    border: none;
}

.zoomable {
    cursor: crosshair;
}
.click {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 100;
}

.click-center {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 99;
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.close {
    position: fixed; 
    right: 15px;
    top: 15px; 
    z-index: 100;
}

.text-center {
    margin-top: -1px;
}

.slick-center .slide-h3{
    color: #FFF;
  }
  .slider {
    height: auto;
    margin: 20px auto;    
    text-align: center;
  }

  .slick-slide{
    opacity: .4;
    transition: opacity 1s ease-in-out;
  }

  .slick-center {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.slick-slide {
    width: 420px;
    margin: 0 10px;
}

.close {
    text-shadow: none;
    opacity: 1;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    
}

#sidebarCollapse {
    position: fixed;
    z-index: 101;
    top: 15px;
    left: 310px;
    background-color: #f79548;
    border-color: #ba6d31;
    transition: all 0.3s;
}

 .side {
    left: 15px !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#sidebar {
    min-width: 290px;
    max-width: 290px;
    background: #e8ebef;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    z-index: 100;
}

.tags-container {
    width: 260px;
    margin: 15px;
    padding: 15px;
    background-color: #f7faff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

hr {
    /*border-color: #f79548;*/
    margin-top: none;
}

#sidebar.closed {
    margin-left: -290px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e8ebef;
    position: relative;
    margin-bottom: 20px;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -290px;
    }
    #sidebar.closed {
        margin-left: 0;
    }

     #sidebarCollapse {
        left: 15px;
     }

    #sidebarCollapse.side {
        left: 310px !important;
    }/*
    #sidebarCollapse span {
        display: none;
    }*/
}

.pulse {
  background: rgba(255,255,255,.5);
  box-shadow: 0 0 0 rgba(255,255,255,1);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255,1);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(255,255,255,0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255,0);
  }
}

